download*
mutations/data/*
*.ipynb_checkpoints
*.ids
*.log
*.sol
*.lp
*.gz
*.gff
*.png
*.pdf
*.dat
*.fna
*.fa
*.unimog
*.norep
*.genome
*.pcla
*.gen
*.repeats
*.wp
*.nwk
*.meg
*.txt
.Rhistory
PCLA_proteins.txt
__pycache__
